<%= form_with(model: quest, local: true) do |form| %>
  <% if quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :quest_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :quest_description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_area :picture, id: :quest_picture %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :quest_location %>
  </div>
  

  <div>
    <%= form.collection_check_boxes :gear_ids, current_user.gears, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
