<p id="notice"><%= notice %></p>

<h1>Quests</h1>

<%= link_to 'New Quest', new_quest_path %>



<div>
  <% @quests.each do |quest| %>

    <div class="row row-line">
      <div class="col-md-2">
        <p class="heading-weight">Title:</p>
        <p><%= quest.title %></p>
      </div>
      <div class="col-md-3">
        <p class="heading-weight">Description:</p>
        <p><%= quest.description %></p> 
      </div>
      <div class="col-md-5 pic-center">
        <% if quest.picture != nil %>
          <img src="<%= quest.picture %>", alt="<%= quest.picture %>", width="375px" class="image-border">
        <% else %>
          <p></p>
        <% end %>
      </div>
      <div class="col-md-1 date-class">
        <p class="heading-weight">Date:</p>
        <p><%= quest.date %></p> 
      </div>
      <div class="col-md-1">
        <%= link_to 'Show', quest %>
      </div>
    </div>
    
  <% end %>

</div>





