<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Picture:</strong>
  <% if @quest.picture != nil %>
    <img src="<%= @quest.picture %>", alt="<%= @quest.picture %>", width="500px">
  <% else %>
    <p></p>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @quest.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @quest.location %>
</p>

<p>
  <strong>Gear:</strong>
  <% @quest.gears.each do |gear| %>
    <p><%= gear.title %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %> |
<%= link_to 'Destroy', quest_path(@quest), method: :delete, data: { confirm: 'Are you sure?' } %>
