<h1>All Quests</h1>

<div>
  <% @quests.each do |quest| %>

    <div class="row row-line">
      <div class="col-md-2">
        <p class="heading-weight">Title:</p>
        <p><%= quest.title %></p>
      </div>
      <div class="col-md-3">
        <p class="heading-weight">Description:</p>
        <p><%= quest.description %></p>
      </div>
      <div class="col-md-6 pic-center">
        <% if quest.picture != nil %>
          <img src="<%= quest.picture %>", alt="<%= quest.picture %>", width="375px" class="image-border">
        <% else %>
          <p></p>
        <% end %>
      </div>
      <div class="col-md-1 date-class">
        <p class="heading-weight">Start Date:</p>
        <p><%= quest.start_date %></p>
        <p class="heading-weight">End Date:</p>
        <p><%= quest.end_date %></p> 
      </div>
    </div>

  <% end %>

</div>
