<p id="notice"><%= notice %></p>

<h1>Gears</h1>

<div>
  <%= link_to 'New Gear', new_gear_path %>
</div>


<div>
  <h3>Categories</h3>
  <div>
    <%= link_to 'New Gear Category', new_category_path %>
  </div>
  <div>
    <% @categories.each do |category| %>
      <%= link_to "#{category.category}", category_path(category.id) %>
    <% end %>
  </div>
</div>


<div>
  <% @gears.each do |gear| %>

    <hr>
    <div class="row row-line">
      <div class="col-md-2">
        <p class="heading-weight">Title:</p>
        <p><%= link_to gear.title, gear %></p>
      </div>
      <div class="col-md-3">
        <p class="heading-weight">Description:</p>
        <p><%= gear.description %></p> 
      </div>
      <div class="col-md-6 pic-center">
        <% if gear.picture != nil %>
          <img src="<%= gear.picture %>", alt="<%= gear.picture %>", width="200px" class="image-border">
        <% else %>
          <p></p>
        <% end %>
      </div>
    </div>
    
  <% end %>

</div>



