<p id="notice"><%= notice %></p>

<p>
  <strong>Category(s):</strong>
  <% @gear.categories.each do |category| %>
      <p><%= category.category %></p>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @gear.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gear.description %>
</p>

<p>
  <strong>Picture:</strong>
  <% if @gear.picture != nil %>
    <img src="<%= @gear.picture %>", alt="<%= @gear.picture %>", width="500px">
  <% else %>
    <p></p>
  <% end %>
</p>

<p>
  <strong>Date Purchased:</strong>
  <%= @gear.date_purchased %>
</p>

<%= link_to 'Edit', edit_gear_path(@gear) %> |
<%= link_to 'Back', gears_path %> |
<%= link_to 'Destroy', gear_path(@gear), method: :delete, data: { confirm: 'Are you sure?' } %>

