<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gear.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gear.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @gear.picture %>
</p>

<p>
  <strong>Date Purchased:</strong>
  <%= @gear.date_purchased %>
</p>

<%= link_to 'Edit', edit_gear_path(@gear) %> |
<%= link_to 'Back', gears_path %>
