<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.category %>
</p>

<p>
  <% @category.gears.each do |gear| %>
    <hr>
    <div class="row row-line">
      <div class="col-md-2">
        <p class="heading-weight">Title:</p>
        <p><%= gear.title %></p>
      </div>
      <div class="col-md-3">
        <p class="heading-weight">Description:</p>
        <p><%= gear.description %></p> 
      </div>
      <div class="col-md-5 pic-center">
        <% if gear.picture != nil %>
          <img src="<%= gear.picture %>", alt="<%= gear.picture %>", width="200px" class="image-border">
        <% else %>
          <p></p>
        <% end %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Show', gear %>
      </div>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>